body {
    background-image: url(../img/fon1.jpg);
    background-color: darkcyan;
    background-size: cover;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9, 17, 129);
    text-align: center;
    padding: 5px;
}
.example_main_div {
    height: 525px;
    width: 32%;
    border: 3px solid coral;
    float: left;
    background-color: rgb(212, 171, 117);
    margin-left: 10px;
}
.mavzu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 95%;
    height: 40px;
    border: 2px solid chartreuse;
    text-align: center;
    margin: auto;
    padding: 3px;
}
.matn {
    width: 95%;
    height: auto;
    border: 2px solid chartreuse;
    text-align: center;
    margin: auto;
    padding: 3px;
}
.sana {
    float: left;
    width: 20%;
    height: 30px;
    border: 2px solid chartreuse;
    text-align: left;
    margin: auto;
    margin-left: 7px;
    padding: 3px;
}
.muallif {
    float: right;
    width: 70%;
    height: 30px;
    border: 2px solid chartreuse;
    text-align: right;
    margin: auto;
    margin-right: 7.5px;
    padding: 3px;
}
nav a{
    padding-left: 20px;
}
form{
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
/* .createpage{
    height: 525px;
    float: left;
    width: 32%;
    border: 3px solid coral;
    float: left;
    background-color: rgb(212, 171, 117);
} */